.scrolly-container {
    position: relative;
    margin-bottom: 1.2em;
}

.sticky-thing {
    position: sticky; /* Keeps the media fixed during its active phase */
    top: 0; /* Start at the top of the viewport */
    z-index: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    margin: 0;
    overflow: hidden; /* Hides anything outside the bounds of the element */
}

.sticky-thing > img, .sticky-thing > video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100vh;
    transform: translate(-50%, -50%); /* Centers the media */
    min-width: 100%; /* Ensures the media covers the full width */
    min-height: 100%; /* Ensures the media covers the full height */
    object-fit: cover; /* Covers the full area of the container, may crop the media */
    display: block;
}

.video-container {
    position: sticky;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.steps-container {
    transform: translate3d(0,0,0);
    position: relative;
    padding: 0;
    z-index: 10;
    max-width: 35rem;
    margin: 0 auto;
    padding-bottom: 4em;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50vh;
}

.step p {
    margin: 0;
    padding: 0.5em 0;
}

.step p:last-child {
    padding-bottom: 0;
}

.step > * {
    width: 100%;
    max-width: 700px;
    margin-left: 1.3em;
    margin-right: 1.3em;
    text-align: center;
    padding: 1.2em !important;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

@media only screen and (min-width: 700px) {
    .scrolly-container.side-by-side {
        display: flex;
    }

    .scrolly-container.side-by-side > div {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.75em;
    }

    .scrolly-container.side-by-side .scrolly-overlay {
        margin-top: 70vh;
        order: 0;
        min-width: 15rem;
        max-width: 20rem;
    }

    .scrolly-container.side-by-side .sticky-thing {
        order: 1;
        flex-grow: 2;
    }
}
